<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-national-gold" >
  <div class="sponsor-hr">
    <img src="./images/sponsors/national-gold.png" class="sponsor-grouping-img" />
  </div>
</div>
<% data.sponsors.each_pair do |key, sponsor| %>
  <% if sponsor.scope == "national" && sponsor.type == "gold" %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => key }) %>
  <% end %>
<% end %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-gold">
  <div class="sponsor-hr">
    <img src="./images/sponsors/community-gold.png" class="sponsor-grouping-img" />
  </div>
</div>
<% data.sponsors.each_pair do |key, sponsor| %>
  <% if sponsor.scope == "community" && sponsor.type == "gold" %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => key }) %>
  <% end %>
<% end %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-national-silver" >
  <div class="sponsor-hr">
    <img src="./images/sponsors/national-silver.png" class="sponsor-grouping-img" />
  </div>
</div>
<% data.sponsors.each_pair do |key, sponsor| %>
  <% if sponsor.scope == "national" && sponsor.type == "silver" %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => key }) %>
  <% end %>
<% end %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-silver">
  <div class="sponsor-hr">
    <img src="./images/sponsors/community-silver.png" class="sponsor-grouping-img" />
  </div>
</div>
<% data.sponsors.each_pair do |key, sponsor| %>
  <% if sponsor.scope == "community" && sponsor.type == "silver" %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => key }) %>
  <% end %>
<% end %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-standard">
  <div class="sponsor-hr">
    <img src="./images/sponsors/community-standard.png" class="sponsor-grouping-img" />
  </div>
</div>
<% data.sponsors.each_pair do |key, sponsor| %>
  <% if sponsor.scope == "community" && sponsor.type == "standard" %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => key }) %>
  <% end %>
<% end %>