<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-national-gold" >
  <div class="sponsor-hr">
    <img src="./images/sponsors/national-gold.png" class="sponsor-grouping-img" />
  </div>
</div>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "data61" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "thoughtworks" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "aws" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "aihw" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "github" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "hcf" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "trello" }) %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-gold">
  <div class="sponsor-hr">
    <img src="./images/sponsors/community-gold.png" class="sponsor-grouping-img" />
  </div>
</div>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "rivercitylabs" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "garvan" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "curtin" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "ace" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "biomelbourne" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "fishburners" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "hopgood" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "inkubator" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "intel" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "itoc" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "landgate" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "victoria" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "vptn" }) %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-national-silver" >
  <div class="sponsor-hr">
    <img src="./images/sponsors/national-silver.png" class="sponsor-grouping-img" />
  </div>
</div>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "lenovo" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "redhat" }) %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-silver">
  <div class="sponsor-hr">
    <img src="./images/sponsors/community-silver.png" class="sponsor-grouping-img" />
  </div>
</div>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "boomworks" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "csl" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "mrci" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "qcif" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "qldhealth" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "rcc" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "telstra" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "yorkbutter" }) %>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-standard">
  <div class="sponsor-hr">
    <img src="./images/sponsors/community-standard.png" class="sponsor-grouping-img" />
  </div>
</div>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "agrf" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "chiasma" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "ssai" }) %>
<%= partial(:sponsorsTemplate, :locals => { :sponsorName => "tanda" }) %>









